.swiper {
    height: 100vh;
}

.swiper .swiper-slide {
    height: 100vw;
}

.swiper-pagination,
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: black;
    opacity: 1;
}

.swiper-button-prev {
    border: 1px solid var(--var-blue);
    padding: 30px;
    border-radius: 50%;
    width: 2px;
    height: 2px;
}